@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #faf9f8;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}


/* CSS Resets end */

/* Navbar */
nav {
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem 0.5rem 2rem;
  background-color: #282b3e;
  border-bottom: 0.5rem solid #f14546;
}

nav h1 {
  font-size: 100px;
  font-family: 'Bebas Neue', cursive;
  color: #faf9f8;
}

nav a {
  font-size: 20px;
  color: #faf9f8;
}

nav a:hover {
  transition: var(--transition);
  text-decoration: none;
  color: #f14546;
}

nav ul {
  display: flex;
  gap: 0.5rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

nav li{
  border: 1px solid #282b3e00;
  border-radius: 8rem;
}

nav li:hover {
  border: 1px solid #282b3e;
}

.burger-menu {
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
/* Navbar ends */

/* Hero section */
.hero {
  position: relative;
  z-index: 5;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: auto;
  margin: auto;
}

.hero-img {
  width: 27.5rem;
}

#onVector {
  animation: bubbles 2s ease-in-out infinite;
  transform-origin: center;
  transform-box: fill-box;
}

#onVector2 {
  animation: slower-bubbles 2.5s ease-in-out infinite;
  transform-origin: center;
  transform-box: fill-box;
  animation-delay: 0.4s;
}

#onVector3 {
  animation: slowest-bubbles 3s ease-in-out infinite;
  transform-origin: center;
  transform-box: fill-box;
  animation-delay: 0.6s;
}

@keyframes bubbles {
    0% {
      transform: scale(1.0);
    }
    50% {
      transform: scale(1.7);
    }
    100% {
      transform: scale(1.0);
    }
}

@keyframes slower-bubbles {
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.7);
  }
  100% {
    transform: scale(1.0);
  }
}

@keyframes slowest-bubbles {
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.7);
  }
  100% {
    transform: scale(1.0);
  }
}


.bio {
  font-family: 'Bebas Neue', cursive;
  text-align: right;
  height: 10rem;
  width: auto;
  padding: 2rem;
  border-radius: 6px;
  border: 1px solid #282b3e00;
}

.bio h2 {
  padding: 0.2rem;
  margin-bottom: var(--bottom-margin);
}

.bio p {
  font-family: 'Old Standard TT', serif;
  line-height: var(--line-height);
  padding: 0.2rem;
}
/* Hero section ends */

/* More about */
.more-about {
  font-family: 'Old Standard TT', serif;
  position: relative;
  z-index: 5;
  background-color: #ededed;
  padding: 2.5rem;
}

.more-about h2 {
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem;
  margin-top: .3rem;
  text-align: left;
}

.more-about p {
  text-align: left;
  line-height: var(--line-height);
  margin-top: 1rem;
  margin-bottom: 1.8rem;
}
/* More about ends */

/* Skills section */
.skills {
  transform: skewY(-2deg);
  font-family: 'Bebas Neue', cursive;
  font-size: 1.35rem;
  color: #FAF9F8;
  position: relative;
  z-index: 2;
  background-color: #282B3E;
  max-width: auto;
  padding: 3rem;
  margin-top: -2rem;
}

.skill-header {
  transform: skewY(2deg);
  margin-bottom: 1rem;
}

.skills-wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  text-align: center;
  align-content:center;
  transform: skewY(2deg);
}

.skills-wrapper img {
  padding: 1rem;
  flex-grow: 1;
  margin: 0.5rem;
}

.icon {
  width: 9rem;
}


/* Projects section */
.projects {
  padding: 3rem;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.35rem;
  position: relative;
  z-index: 2;
  background-color: white;
  margin-top: -2rem;
  padding-top: 4rem;
}

.projects p{
  font-size: 0.9rem;
  font-family: 'Old Standard TT', serif;
}

.project-pic {
  max-width: 10rem;
  
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-title {
  text-align: left;
  padding-top: 2rem;
}

.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: 1rem;
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

/* Projects section ends */

/* Contacts section */
.contact {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.35rem;
  padding: 3rem;
  position: relative;
  z-index: 5;
  padding: 2rem;
  background-color: #ededed;
}

.contact h2 {
  text-align: left;
  padding-top: 1rem;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  position: relative;
  z-index: 5;
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
}

.contact-form-container textarea {
  z-index: 5;
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  background-color: #faf9f800;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-bottom: 3px solid black;
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder {
  padding: 0.5rem;
  color: var(--primary-color);
}

.submit-btn {
  color: #ECEBED;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #362F34;
  border: 2px solid #362F34;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.submit-btn:hover {
  color: #362F34;
  background-color: #ECEBED;
  cursor: pointer;
}

.airplane {
  z-index: 1;
  height: 10rem;
  margin-top: -25rem;
  margin-bottom: 0rem;
  margin-right: auto;
  margin-left: auto;
  animation-name: message_lr;
  animation-iteration-count: 4;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

#Plane{
  animation: plane 4s ease-in-out;
  transform-origin: center;
  transform-box: fill-box;
  animation-iteration-count: 4;
}

@keyframes plane {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.5);
  }
  100% {
    transform: scaleY(1);
  }
}

#Set1 {
  animation: set1 3s ease-in-out infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes set1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#Set3 {
  animation: set3 4s ease-in-out infinite;
  transform-origin: center;
  transform-box: fill-box;
  animation-delay: 0.5s;
}

@keyframes set3 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#Set4 {
  animation: set4 5s ease-in-out infinite;
  transform-origin: center;
  transform-box: fill-box;
  animation-delay: 0.8s;
}

@keyframes set4 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#Set5 {
  animation: set5 6s ease-in-out infinite;
  transform-origin: center;
  transform-box: fill-box;
  animation-delay: 1s;
}

@keyframes set5 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes message_lr {
  0% {
  transform: translate(-50%, 250%);
  }
  100% {
  transform: translate(900%, 100%);
  }
  }



/* Contacts section ends */

/* General (utilities) */
.icon-card {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  align-self: stretch;
}

.icon-card:hover {
  transform: rotateY(-1deg);
  transition-duration: 1s;
  background-color: rgba(255, 255, 255, 0);
  border: rgba(255, 255, 255, 0) 0px solid;
  cursor:default;
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

/* Footer section */
footer {
  z-index: 1;
  position: sticky;
  bottom: 0;
  left: 0;
  height: 13.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 6.5rem 0.5rem 6.5rem;
  background-color: #282b3e;
  border-top: 10px solid #f14546;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.footer-img {
  max-height: 10rem;
}

.footer-icons{
  width: 3rem;
}

/* Footer section ends */

/* Media queries for responsiveness */
@media screen and (max-width: 720px) {
  nav {
    padding: 0.5rem 1rem;
    position: sticky;
    z-index: 1;
  }
  nav ul {
    position: relative;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  nav ul li {
    margin: 8px;
  }
  
  nav a {
    font-size: 20px;
    color: #282b3e;
  }
  

  nav ul.show {
    transform: translateX(0);
  }

  .hero {
    display: flex;
    flex-direction: row;
  }

  .hero-img {
    width: 40.5rem;
  }

  .bio {
    width: 20.5rem;
    text-align: left;
  }

  .more-about {
    border-top: rgb(0, 0, 0) 1px solid;
    padding-top: 2rem;
  }

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: justify;
  }

  .skills {
    padding-top: 5rem;
  }

  .icon {
    width: 7.25rem;
    height: 7.25rem;
  }

  .projects {
    padding-top: 1.6rem;
    justify-content: center;
  }

  .projects-container {
    flex-direction: column;
  }

  .contact-form-container {
    z-index: 5;
    max-width: 23.75rem;
    background-color: #ededed00;
  }
  .airplane{
    animation-iteration-count: 10;
    animation-duration: 10s;
  }
  nav .burger-menu{
    display: block;
  }
}
@keyframes message_lr {
  0% {
  transform: translate(-50%, 250%);
  }
  100% {
  transform: translate(900%, 100%);
  }
  }

@media screen and (max-width: 420px) {

  nav {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .navigation {
    display: none;
  }

  nav h1 {
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    color: #faf9f8;
    text-align: left;
  }
  
  .hero {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bio {
    line-height: 2rem;
    padding-bottom: 14rem;
  }

  .bio h2 {
    padding-top: 1rem;

  }
  .bio p{
    line-height: 1.4rem;
    padding: -5rem;
  }

  .icon {
    background-color: #fff;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
  }

  .project-container {
    width: 17.875rem;
  }

  .contact-form-container {
    z-index: 5;
    max-width: 17.75rem;
    background-color: #ededed00;
  }
  .airplane{
    display: none;
  }
}


